body {
  background: linear-gradient(
    to bottom,
    #111 0%,
    #0a0a0a 40%,
    #000000 100%
    );
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 1px;
}